
h1{
    text-align:center;
    width:auto; margin-top:12px; 
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:30px; 
    color:#999999;
    line-height:25px;
    letter-spacing:1px;
}
h2{
    margin-left: 10%;
    width:auto; margin-top:12px; 
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:30px; 
    color:#0e0d1d;
    line-height:25px;
    letter-spacing:1px;
}

div{
    text-align: center;
    margin-left:10%;
    margin-right:10%;
}

/* body{
    background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
} */
    
/* unvisited link */
a:link {
    color: #547a94;
  }
  
  /* visited link */
  a:visited {
    color: #585858;
  }
  
  /* mouse over link */
  a:hover {
    color: #3a5a70;
  }
  
  /* selected link */
  a:active {
    color: #414141;
  }
