/* Interface */
body {
  background-color:#7dd5f3;
}

main {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 2px rgb(65, 25, 25);
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1000px;
  padding: 2em 2em 4em;
}

/* Text Formatting */
h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 1000;
}

h2 {
  text-align: left;
  font-size: 35px;
}

p {
  font-size: 20px;
}

pi {
  font-size: 20px;
  font-style: italic;
}

ul {
  font-size: 20px;
}

/* Navigation Bar */
.topnav {
  background-color: #F5F5F5;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;

}

.topnav a:hover {
  background-color: #acffe6;
  color: black;
}

.topnav a.active {
  background-color: #aceaff;
  color: black;
}

/* Image */



.float-im {

float: center;
clear: center;
width: 300px;
height: 176px;
margin-left: auto;
margin-right: auto;
width: 50%;

}

.float-img {

  float: left;
  width: 10%;
  margin-right: 20px;
 
  
  }

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 40%;
  padding: 10px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.floatleft-img {

float: left;

}


.center-img {

display: block;
margin-top: 30px; 
margin-bottom: 30px; 
margin-left: auto;
margin-right: auto;
width: 100%;
border: 1px solid #000000;


}

.center-img-no-border {

  
  margin-top: 30px; 
  margin-bottom: 30px; 
  width: 100%;
  
  }

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  
  padding: 10px;
}

.grid-container > div {
  
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}